html{ font-family: sans-serif; background: gainsboro }
body{ max-width: 140ch; margin-inline: auto; padding-inline: 1em; }
h2{ margin-block: 0.4em; font-family: monospace;  }
pre{
  font-size: 1.2em;
  margin-block: 0.3em;
  border-inline-start: 2px solid;
  background-color: rgba(0,0,0,0.2);
  padding-block: 0.2em;
}
pre.range{ border: none }
.range{ background-image: linear-gradient(darkseagreen, forestgreen); background-repeat: no-repeat; }

@media (prefers-color-scheme:dark){
  html{ background: #172730; color: #a0b4aE }
  .range{ background-image: linear-gradient(olive, saddlebrown) }
}

.media-item{
  border: 0.2em solid grey;
  border-radius: 0.4em;
  margin-block: 2em;
  background: rgba(100,100,100,0.2);
  padding: 0.5em;
}
.media-item:target{
  border-color: salmon;
}
.media-item > pre{ display: none }

.media-item > .description,
.media-item > .range{ display: flex; }
.range > div{ flex-grow: 1; flex-basis: 4ch; text-align: center }


.description{ border-bottom: 1px solid currentColor; margin-bottom: 0.2em }

.description ~ :not(.range){ font-weight: bold }
.description ~ :not(.range)::before{ content: ">>"; margin-inline: 1ch; color: dimgrey }

.range.sparse > div{
  text-align: start; 
  height: 50%;
  border-bottom: 1px solid;
  border-inline-start: 1px solid
}
.range.sparse{ margin-block: 0.5em 1.5em; height: 1.2em  }
.range.sparse > div > span{ position: absolute; transform: translateY(0.4em) rotateZ(60deg); transform-origin: left }
@media (max-width: 550px){
  .sparse > :nth-child(2n) > span{ visibility: hidden }
}